@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:50px">
    <h1 class="display-4">
        Welcome
        @if (signInManager.IsSignedIn(User))
        {
            <span>, @User.Identity.Name</span>
        }
    </h1>
    <div class="mt-3">
    <p style="font-size:24px">Currenlty system is under development, as an employee role you can enter your timsheets for current week using this website.</p>
    </div>
</div>
