html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.nav-item {
    margin-right: 15px;
}

nav ul li a, .layout-home {
    font-size: 20px;
    font-weight: normal;
}

.dropdown-menu > a:hover {
    background-color: #e5f2fc;
    border: none;
    text-decoration: none;
}

.nav-item-active {
    border: none;
}

li.nav-item-active > a, .nav-item:not(.nav-item-active):hover > a {
    color: white !important;
    background-color:grey;
    border-radius:10px;
}

label{
    font-size:18px;
    font-weight:bold;
}

h4{
    font-size:2rem;
}